git
cmake
build-essential
make
texinfo
bison
flex
ninja-build
ncurses-dev
binutils-dev
libgmp-dev
libmpfr-dev
curl
libssl-dev
libtinfo5
python-tk
pkg-config
python3-pip
gcc-arm-linux-gnueabihf
g++-arm-linux-gnueabihf
